@media screen and (max-width: 480px) {


    .color-nav-part::before {
        width: 30%;      
    }

    /* .back-carouse .left-carouse-icon {
        display: inline-block;
        height: 20%;
        left: 35px;
        position: absolute;
        top: 107px;
    }
    .back-carouse .right-carouse-icon {
        display: inline-block;
        height: 20%;
        right: 35px;
        position: absolute;
        top: 107px;
    } */

    .navmenudivider {
        color: black;
        height: 2px;
    }

    /* .navbar-nav .nav-item .nav-link {
        color: white;
        font-weight: bold;
        font-size: 20px;
        padding: 8px 12px;
        border-radius: 5px;
        transition: 0.4s;
        font-family: 'Raleway', sans-serif;
    } */

    .full-content {
        width: 100%;
        box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
    }

    .modal-heading {
        font-size: 18px;
        padding: 20px;
        font-weight: bold;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #4888bc;
    }

    .contact_form {
        padding: 3px 3px;
    }

    .mail-box-section .mail-icon img {
        width: 60px;
    }

    .png-img-contain {
        background-image: url();
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: 100px 0px;
        width: 99.9vw;
    }

    .button-group-prepend button {
        padding: 10px 20px;
        background-color: #fff4;
        color: rgb(240, 240, 240);
        font-weight: 500;
        border: none;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
    }

    .comprehensive-text-2 {
        font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
        padding: 20px;
        margin-top: 303px;
    }

    .curation-image {
        margin-top: 25px;
        position: absolute;
        z-index: -1;
    }
    .carouse-content {
        /* border: 1px solid rgb(213, 213, 213); */
        border-radius: 10px;
        padding: 70px 20px;
        box-shadow: 2px 2px 13px 1px #e8e8e8;
        max-width: 100%;
        height: 520px;
        position: relative;
    }

    /* ---------------------- Start of side social media ---------------------------------------------- */

    .expand .element {
        height: 50px;
        position: relative;
        text-decoration: none;
        list-style: none;
    }
    .expand .openanaccount {
        display: inline-block;
        padding: 2px 8px 0px 43px;
        font-size: 17px;
    }
    .expand a .two-icon {
        position: absolute;
        top: 10px;
        left: 20p;
        font-size: 27px;
    }
    .expand {
        font-family: 'Montserrat', sans-serif;
        position: fixed;
        width: 46px;
        z-index: 1;
        top: 340px;
        box-sizing: 2px 2px 8px 0 rgba(0, 0, 0, 0.4);
    }
    .expand .extra-thing {
        /* -webkit-transform: rotate(-90deg); */
        /* -moz-transform: rotate(-90deg); */
        transform: rotate(-90deg);
        display: block;
        font-size: 12px;
        padding: 10px 10px 10px 10px;
        width: 225px;
        height: 46px;
        line-height: 1.2;
        -webkit-transform-origin: 51px 51px 0;
        -moz-transform-origin: 51px 51px 0;
        transform-origin: 51px 51px 0;
        box-shadow: -3px 0 6px rgb(0 0 0 / 16%);
    }


    /* ---------------------- End of side social media ---------------------------------------------- */

    /* ------------------- Start of login form ------------------------------------- */
    .login-form{
        padding-right: 0px;
        padding-left: 0px;
    }
    /* ------------------- End of login form ------------------------------------- */

    /* ***************** Start of why choose us page design *********** */

    


    /* ***************** End of why choose us page design *********** */
}